#hud {
  transition: all 0.5s cubic-bezier(0.2, 0.9, 0.1, 1);
  transform: scale(1.5);
  opacity: 0;
  visibility: hidden;
}

#hud.visible {
  transform: scale(1);
  opacity: 1;
  visibility: visible;
}

#subtitle {
  position: absolute;
  left: 50%;
  bottom: 48px;
  font-size: 2rem;
  font-weight: normal;
  color: #fff;
  text-shadow: 0.1rem 0.3rem 0.2rem #333;
  transform: translateX(-50%);
  padding: 0.5rem 3rem;
  box-sizing: border-box;
  backdrop-filter: blur(32px);
  mask-image: linear-gradient(to right, transparent, white 3rem, white calc(100% - 3rem), transparent);
  -webkit-mask-image: linear-gradient(to right, transparent, white 3rem, white calc(100% - 3rem), transparent);
  text-align: center;
  line-height: 2.4rem;
}

#subtitle:empty {
  display: none;
}

#hud-info {
  position: absolute;
  left: 64px;
  bottom: 48px;
  font-size: 2rem;
  font-weight: normal;
  color: #fff;
  text-shadow: 0.1rem 0.3rem 0.2rem #333;
  padding: 0.5rem 3rem;
  box-sizing: border-box;
  backdrop-filter: blur(32px);
  mask-image: linear-gradient(to right, transparent, white 3rem, white calc(100% - 3rem), transparent);
  -webkit-mask-image: linear-gradient(to right, transparent, white 3rem, white calc(100% - 3rem), transparent);
  text-align: center;
  line-height: 2.4rem;
  display: flex;
  flex-direction: column;

  transition: all 0.3s ease;
  opacity: 0;
  visibility: hidden;
}

#hud-info.visible {
  opacity: 1;
  visibility: visible;
}
